<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>CV - Abdul Rezak</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header>
      <h1>Curriculum Vitae</h1>
      <nav>
        <ul>
          <li><a href="#profile">Profil</a></li>
          <li><a href="#education">Pendidikan</a></li>
          <li><a href="#experience">Pengalaman Kerja</a></li>
          <li><a href="#skills">Keterampilan</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="profile">
        <h2>Profil</h2>
        <img src="profil.jpg" alt="Foto Profil">
        <p>Nama Lengkap: [Abdul Rezak]</p>
        <p>Alamat: [Jl. Dewi sartika cipayung ciputat gang masjid al khasyiun no 20 RT. 01/RW.02 Tanggerang 15411]</p>
        <p>Email: [abdulrezak223@gmail.com]</p>
        <p>Nomor Telepon: [0895360768072]</p>
      </section>
      <section id="education">
        <h2>Pendidikan</h2>
        <ul>
          <li>
            <h3>[SMA]</h3>
            <p>[MA Negeri 1 Rejang Lebong], [2020]</p>
            <p>[Madrasah Ibtidayah (MI) adalah jenjang pendidikan madrasah formal yang paling dasar yang memiliki kekhasan bercirikan Islam. MI di bawah pengelolaan Kementerian Agama dan memiliki jenjang yang setara dengan Sekolah Dasar. Menurut KMA Nomor 184 Tahun 2019 tentang Pedoman Implementasi Kurikulum Pada Madrasah, MI diartikan sebagai satuan pendidikan formal yang menyelenggarakan pendidikan pada jenjang pendidikan dasar yang mempunyai ciri-ciri khusus keislaman dan keindonesiaan serta mempunyai tugas mengembangkan potensi peserta didik agar menjadi manusia yang beriman dan bertakwa kepada Tuhan Yang Maha Esa, berakhlak mulia, sehat, berilmu, cakap, kreatif, mandiri dan menjadi warga negara yang demokratis serta bertanggung jawab]</p>
          </li>
          <li>
            <h3>[S1]</h3>
            <p>[Universitas Muhammadiyah Jakarta], [2024]</p>
            <p>[Pendidikan Teknik Informatika adalah program pendidikan yang fokus pada pengembangan keterampilan teknis dan keahlian di bidang teknologi informasi dan komunikasi (TIK). Program ini mencakup pelajaran seperti pemrograman komputer, desain perangkat lunak, jaringan komputer, sistem operasi, dan database. Tujuan dari pendidikan ini adalah untuk mempersiapkan lulusan yang siap untuk berkarir di industri teknologi informasi yang terus berkembang pesat. Selain itu, program ini juga mengajarkan keterampilan sosial, keterampilan manajemen proyek, dan keterampilan komunikasi yang penting bagi seorang profesional TI. Pendidikan Teknik Informatika biasanya tersedia di perguruan tinggi dan lembaga pendidikan tinggi lainnya dan dapat menghasilkan gelar Sarjana atau Magister.]</p>
          </li>
        </ul>
      </section>
      <section id="experience">
        <h2>Pengalaman Kerja</h2>
        <ul>
          <li>
            <h3>[Posisi Kerja]</h3>
            <p>[Nama Perusahaan], [Tahun Mulai - Tahun Berakhir]</p>
            <p>[Deskripsi Singkat tentang Pekerjaan dan Tanggung Jawab]</p>
          </li>
          <li>
            <h3>[Posisi Kerja]</h3>
            <p>[Nama Perusahaan], [Tahun Mulai - Tahun Berakhir]</p>
            <p>[Deskripsi Singkat tentang Pekerjaan dan Tanggung Jawab]</p>
          </li>
        </ul>
      </section>
      <section id="skills">
        <h2>Keterampilan</h2>
        <ul>
          <li>[Domain DS]</li>
          <li>[Domain CV]</li>
          <li>[Domain NLP]</li>
          <li>[Domain RL]</li>
        </ul>
      </section>
    </main>
    <script src="script.js"></script>
  </body>
</html>
